*{
  margin: 0;
  padding: 0;

}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.form input:first-child{
  margin-top: 20px;
}
.form input {
  border: 1px solid #cccccc;
  padding: 12px 10px;
  outline:none;
  margin-bottom: 12px;
  width: 200px;
}

.form button{
  background-color: aquamarine;
  border:none;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
}

.dataTable{
  margin-top: 30px;
}

table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 12px;
}

.buttonContainer{

  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonContainer button:last-child{
  margin-left: 10px;
  background-color: red;
}
table button{
  border:none;
  outline: none;
  background-color: yellow;
  padding: 6px 10px;
  margin: 0 5px;
  border-radius:7px;
  cursor: pointer;
}

table button:last-child{
  background-color: red;
}